[
	{ip,"192.168.0.104"},
	{port,333},
	{account_node,"a001@192.168.0.104"},
	{server_node,"s001@192.168.0.104"},
	{log_node,"log001@192.168.0.104"},
	{serverid,8},
	{db_host,"127.0.0.1"},
	{db_port,3306},
	{db_user,"root"},
	{db_pass,"root"},
	{db_name,"douniu_data"},
	{db_encode,utf8},
	{debug_level,5},
	{management_enable,true},
	{server_key,"mhxd"},
	{enable_gm,true},
	{accelerate_detect,0},
	{kudos_url,"http://115.238.73.228:21001/"},		
	{server_id_for_kudos,"1000001"},
	{kudos_key,"4FF50EE8CF28420EA40EEC58BF90B88A"},
	{user_log_db_name,"dragon_log"},
	{finish,finish}
].
