[
    {db_host,"121.10.140.11"},
    {db_port,3306},
    {db_user,"mhxd"},
    {db_pass,"mhxd_qa_s0"},
    {db_name,"mhxd_data"},
    {server_host, "121.10.140.11"},
    {server_port, 333},
	{test_time,3600},
    {goldisland,0},
    {talk,5},
    {login_persit,{2,1500}} %% {login_persit,{每秒登录路多少个, 持续时间}}
].
%测试说明:
%1. 登录测试命令,2是每秒登录个数,4000是启示id, 4030是结束id,id范围是1-5000
%    clientmgr:start(login_presit, 2, 4000, 4030).
   
%2. 场景的测试命令: clientmgr:start(scene, 2, 4000, 4030), x是跑图的玩家个数
%3. 场景的测试命令: clientmgr:start(battle, 2, 4000, 4030)), x是战斗的玩家个数

%4. 聊天测试命令: clientmgr:start(talk, 1, 4991, 4992).

%5. 进入金银岛: clientmgr:start(scene, 2, 4000, 4030) ,并设置test.config中goldisland 大于0
%6. 测试带宠物,骑坐骑要从30000ID开始: clientmgr:start(scene, 2, 30000, 30200).